
anyio==3.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
bs4==0.0.1
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
comm==0.1.3
confection==0.1.0
cycler==0.11.0
cymem==2.0.7
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.17.1
filelock==3.12.2
Flask
fonttools
fqdn
fsspec
fuzzywuzzy
gitdb==4.0.10
GitPython==3.1.35
h11==0.14.0
huggingface-hub
idna
importlib-metadata
imutils
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
kiwisolver
langcodes
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
murmurhash
myenv
mysql-connector-python
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
opencv-contrib-python
outcome
overrides
packaging
pandas
pandocfilters
parso
pathy
pickleshare
Pillow
platformdirs
plotly
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydantic
pydeck
Pygments
Pympler
pyparsing
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz
pytz-deprecation-shim
pywin32
pywinpty
PyYAML
pyzmq
regex
requests
rfc3339-validator
rfc3986-validator
rich
safetensors
scikit-learn
scipy
seaborn
selenium
Send2Trash
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
streamlit
sympy
tenacity
terminado
thinc
threadpoolctl
tinycss2
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
virtualenv
wasabi
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wsproto
zipp
